/* src/components/Window/Window.css */
.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.window {
    width: 400px; /* Augmenter la largeur */
    height: 300px; /* Augmenter la hauteur */
    background: var(--window-bg);
    border: 1px solid var(--window-border);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: absolute;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--window-header-bg);
    color: var(--text-color);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.window-content {
    flex-grow: 1;
    padding: 15px;
    color: var(--text-color);
}

  
.window-header h2 {
    margin: 0;
    font-size: 18px;
}
  
.window-header button {
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}
  
