body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --desktop-bg: #1E1E1E;
  --taskbar-bg: #000000;
  --window-bg: #2C2C2C;
  --window-header-bg: #FF5722;
  --window-border: #3A3A3A;
  --text-color: #EEEEEE;
  --icon-bg: #2A2A2A;
  --icon-border: #3A3A3A;
}