/* src/components/Desktop/Desktop.css */
.desktop{
    width: 100vh;
    height: 100vh;
    background: url('') no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}